.navbar {
    background-color: transparent !important;
}



body {
    background-color: black;
    color: white;
}
footer {
    background-color: turquoise;
    color: white;
}

.card {
    background-color: turquoise;
}

.parrafosimg {
    background-color: turquoise;

}
.icofooter i {
    font-size: 60px;
}
.parrafosimg i {
    font-size: 35px;
}
hr:not([size]) {
    height: 2px
}
hr {
    margin: 1rem 0;
    background-color: turquoise;
    opacity: .99
}